*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #FDFCFB, #E2D1C3);
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #f0f0f0;
        font-family: 'Arial', sans-serif;
    }
    

    #javascript_calculator {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 320px;
    }
    

    #display {
        width: 100%;
        height: 50px;
        font-size: 24px;
        text-align: right;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    
  
    .calckeyz {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    
    button {
        width: 100%;
        padding: 20px;
        font-size: 18px;
        background-color: burlywood;
        color: #fff;
        border: none;
        border-radius: 5px;
    }
    
    button:hover {
        background-color: black;
    }
    
    button:active {
        background-color: black;
    }